body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.logo {
Background-color: #FFD400;
Color: black;
Font-family: Poppins, Arial, sans-serif;
Font-size: 32px;
Font-weight: 600;
Padding: 8px 20px;
Border-radius: 30px;
Display: inline-block;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  border-bottom: 3px solid black;
}
.btn{
  display: inline-block;
  background: black;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.safety {
  display: flex;
  justify-content: space-between;
  padding: 80px;
}

.safety h1 {
  font-size: 48px;
}

.safety p {
  font-size: 18px;
  width: 450px;
}

.images img {
  width: 750px;
  height: 350px;
  border-radius: 16px;
  margin: 10px;
}
.yellow {
  background: #ffd400;
  padding: 80px;
}

.cards {
  display: flex;
  gap: 80px;
}

.card {
  width: 300px;
}
.footer {
  background: #000;
  color: #fff;
  padding: 60px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 180px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* App buttons */
.app-btn {
  width: 160px;
  margin-bottom: 12px;
  display: block;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  background: #fff;
  padding: 6px;
}

/* Bottom line */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}