body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.logo {
Background-color: #FFD400;
Color: black;
Font-family: Poppins, Arial, sans-serif;
Font-size: 32px;
Font-weight: 600;
Padding: 8px 20px;
Border-radius: 30px;
Display: inline-block;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  border-bottom: 3px solid black;
}
.btn{
  display: inline-block;
  background: black;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.ads-hero {
  display: flex;
  padding: 80px;
  background: #fff3d6;
}

.ads-left {
  width: 50%;
}

.ads-left h1 {
  font-size: 48px;
}

.ads-left p {
  font-size: 18px;
  margin: 20px 0;
}

.yellow-btn {
  background: #f9c600;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 16px;
}

.ads-right {
  width: 50%;
  text-align: center;
}

/* WHY ADS */
.why-ads {
  text-align: center;
  padding: 80px 60px;
}

.sub-text {
  max-width: 700px;
  margin: 20px auto;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.stat-box {
  background: #f4faff;
  padding: 40px;
  width: 200px;
  border-radius: 15px;
}

/* TARGETING */
.targeting {
  text-align: center;
  padding: 80px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.card {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
}

.yellow { background: #fff1c1; }
.blue { background: #eaf4ff; }
.orange { background: #ffd9b3; }

.footer {
  background: #000;
  color: #fff;
  padding: 60px 80px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-col {
  min-width: 180px;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* App buttons */
.app-btn {
  width: 160px;
  margin-bottom: 12px;
  display: block;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 42px;
  height: 42px;
  border-radius: 6px;
  background: #fff;
  padding: 6px;
}

/* Bottom line */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

